<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivantee.smartsell">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".customerdata.ImportcustomerActivity"></activity>
        <activity android:name=".chest.ChestMainActivity" />
        <activity android:name=".customer.CustomerCompassActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".login.AddUser" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.AddCustomer"
            android:label="@string/title_activity_add_customer"
            android:theme="@style/DefaultCityPickerTheme" />
        <activity android:name=".customer.CustomerReport" />
        <activity
            android:name=".BlankActivity"
            android:label="@string/title_activity_blank" />
        <activity android:name=".customer.CustomerHandPickActivity" />
        <activity android:name=".customer.CustomerInfoActivity" />
        <activity android:name=".welcome.MainActivity" />
        <activity android:name=".welcome.WelcomeGuideActivity" />
    </application>

</manifest>